<launch>
    <!-- Choose laser scan and debugging -->
    <arg name="depth_to_laser"  default="false"/>
    <arg name="debugging"       default="true"/>
    <arg name="rviz"            default="false"/> <!-- Usually rviz launches too quickly, leaving the tf trees undetected -->
    <arg name="rtabmapviz"      default="false"/>
    <arg name="localization"    default="false"/>
    <arg name="mode"            default="5"/>

    <!-- Start Kinect drivers and pointcloud tools -->
    <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="depth_registration" value="true" />
    <arg name="mode"               value="$(arg mode)"/>
    </include>

    <!-- Start pointcloud to laser scan conversion -->
    <include if="$(arg depth_to_laser)"
        file="$(find depth_to_laser)/launch/start_laserscan.launch"/>

    <!-- Start RQT_GUI debugging tool -->
    <node if="$(arg debugging)"
        name="debugging" pkg="rqt_gui" type="rqt_gui" />

    <!-- Start customized rtabmap -->
    <include file="$(find custom_rtabmap)/launch/start_mapping.launch">
    <arg name="localization" value="$(arg localization)"/>
    <arg name="rtabmapviz"   value="$(arg rtabmapviz)"/>
    </include>
   
    <!-- Start rviz -->
    <node if="$(arg rviz)" 
    name="visualization" pkg="rviz" type="rviz" />


</launch>