<launch>
    <!-- Choose laser scan and debugging -->
    <arg name="depth_to_laser"  default="false"/>
    <arg name="debugging"       default="true"/>
    <arg name="visualize"       default="false"/> <!-- Usually visualization is too fast -->
    <arg name="localization"    default="false"/>

    <!-- Start Kinect drivers and pointcloud tools -->
    <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="depth_registration" value="true" />
    </include>

    <!-- Start pointcloud to laser scan conversion -->
    <include if="$(arg depth_to_laser)"
        file="$(find depth_to_laser)/launch/start_laserscan.launch"/>

    <!-- Start RQT_GUI debugging tool -->
    <node if="$(arg debugging)"
        name="debugging" pkg="rqt_gui" type="rqt_gui" />

    <!-- Start customized rtabmap -->
    <include file="$(find custom_rtabmap)/launch/start_mapping.launch">
    <arg name="localization" value="$(arg localization)"/>
    </include>
   
    <!-- Start rviz -->
    <node if="$(arg visualize)" 
    name="visualization" pkg="rviz" type="rviz" />


</launch>